<ion-header [translucent]="true">
  <ion-toolbar mode="md">
      <ion-title>
          Dashboard Rekomendator
      </ion-title>
      <ion-buttons slot="start">
          <ion-menu-button autoHide="true"></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
      </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
    <ion-row>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ionic-selectable item-content placeholder="Pilih Perusahaan" itemValueField="id" itemTextField="name" [items]="allCompany" (onSelect)="handleCompany($event)" [canSearch]="true" (onSearch)="searchPorts($event)">
                        <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                            {{port.name}} - {{port.id}}
                        </ng-template>
                    </ionic-selectable>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-select placeholder="Pilih Kebun" (ionChange)="handleKebun($event)">
                        <ion-select-option *ngFor="let kebun of allKebun" value="{{kebun?.id}}">{{kebun?.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
        <ion-col>
            <ion-list>
                <ion-item>
                    <ion-select  placeholder="Pilih Afdelling">
                        <ion-select-option *ngFor="let afdelling of allAfdelling" value="{{afdelling?.id}}">{{afdelling?.name}}</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-list>
        </ion-col>
    </ion-row>

    <ion-card>
        <ion-card-header>
            Komposisi Tanaman
        </ion-card-header>
        <ion-card-content>
            <canvas #doughnutCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Produksi Tanaman 5 Tahun Terakhir
        </ion-card-header>
        <ion-card-content>
            <canvas #plantProductionCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Curah Hujan & Hari Hujan 5 Tahun Terakhir
        </ion-card-header>
        <ion-card-content>
            <canvas #curahHariHujanCanvas></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Produktivitas (ton TBS / ha / tahun)
        </ion-card-header>
        <ion-card-content>
            <canvas #protasCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            Jumlah Tandan / Pohon / Tahun
        </ion-card-header>
        <ion-card-content>
            <canvas #TotalBunchDataCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
    </ion-card>

    <ion-card>
        <ion-card-header>
            RBT (kg / tandan)
        </ion-card-header>
        <ion-card-content>
            <canvas #AWBCanvas style="position: relative; height:20vh; width:40vw"></canvas>
        </ion-card-content>
    </ion-card>
    
</ion-content>