<ion-header [translucent]="true">
    <ion-toolbar mode="md">
        <ion-title>
            {{formTitle}}
        </ion-title>
        <ion-buttons slot="start">
            <ion-menu-button autoHide="true"></ion-menu-button>
        </ion-buttons>
        <ion-buttons slot="end">
        </ion-buttons>
    </ion-toolbar>
</ion-header>
<ion-content class="ion-padding">
    <p class="text-center"></p>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-select placeholder="Pilih Perusahaan">
                            <ion-select-option value="apples">Apples</ion-select-option>
                            <ion-select-option value="oranges">Oranges</ion-select-option>
                            <ion-select-option value="bananas">Bananas</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-select placeholder="Pilih Kebun">
                            <ion-select-option value="apples">Apples</ion-select-option>
                            <ion-select-option value="oranges">Oranges</ion-select-option>
                            <ion-select-option value="bananas">Bananas</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
            <ion-col>
                <ion-list>
                    <ion-item>
                        <ion-select placeholder="Pilih Afdelling">
                            <ion-select-option value="apples">Apples</ion-select-option>
                            <ion-select-option value="oranges">Oranges</ion-select-option>
                            <ion-select-option value="bananas">Bananas</ion-select-option>
                        </ion-select>
                    </ion-item>
                </ion-list>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2">Nomor Blok</ion-label>
                <ion-item>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">Nomor KCD</ion-label>
                <ion-item>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label>Tanggal</ion-label>
                <ion-item>
                    <ion-datetime-button datetime="datetime"></ion-datetime-button>
                    <ion-modal [keepContentsMounted]="true">
                        <ng-template>
                            <ion-datetime id="datetime"></ion-datetime>
                        </ng-template>
                    </ion-modal>
                </ion-item>
            </ion-col>
        </ion-row>

    </ion-grid>


    <ion-button size="small" expand="full" shape="round" color="success">Keragaan Tanah</ion-button>
    <ion-button class="ctm-button-subtitle" color="warning" size="small">1. Jenis Tanah</ion-button>

    <ion-grid>
        <ion-row class="ion-align-items-start">
            <ion-col>
                <ion-label class="ctm-button-subtitle"> Jenis Tanah </ion-label>
                <ion-select placeholder="Pilih Jenis Tanah">
                    <ion-select-option value="apples">Apples</ion-select-option>
                    <ion-select-option value="oranges">Oranges</ion-select-option>
                    <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-button-subtitle"> Jenis Tanah </ion-label>
                <ion-select placeholder="Kategori Tanah">
                    <ion-select-option value="apples">Apples</ion-select-option>
                    <ion-select-option value="oranges">Oranges</ion-select-option>
                    <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
                <br />
                <ion-label class="ctm-button-subtitle"> Kematangan </ion-label>
                <ion-textarea placeholder="Type something here"></ion-textarea>

                <br />
                <ion-label class="ctm-button-subtitle"> Tata Kelola Air </ion-label>
                <ion-textarea placeholder="Type something here"></ion-textarea>

            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button class="ctm-button-subtitle" color="warning" size="small">2. Kadar Hara Tanah</ion-button>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>N: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>P: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>K: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Ca: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Mg: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>C: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Fe: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Mn: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label>Zn : </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Cu: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label>Ph: </ion-label>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col></ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="stacked">Bahan Organik </ion-label>
                    <ion-input placeholder="Bahan Organik"></ion-input>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-item>
                    <ion-label position="stacked"> Salinitas </ion-label>
                    <ion-input placeholder="Salinitas"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button class="ctm-button-subtitle" color="warning" size="small">3. Sifat Fisik Tanah</ion-button>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Bulk Density</ion-label>
                    <ion-input class="ctm-font" placeholder="Bulk Density"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Water Holding Cap.</ion-label>
                    <ion-input class="ctm-font" placeholder="Water Holding Capacity"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">M. Strength</ion-label>
                    <ion-input class="ctm-font" placeholder="Mechanical Strength"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="stacked" class="ctm-font">Hydraulic Conduc.</ion-label>
                    <ion-input class="ctm-font" placeholder="Hydraulic Conductivity"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Electric Conduc.</ion-label>
                    <ion-input class="ctm-font" placeholder="Electric Conductivity"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label position="stacked" class="ctm-font">Kedalaman Solum</ion-label>
                    <ion-input class="ctm-font" placeholder="Kedalaman Solum"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button class="ctm-button-subtitle" color="warning" size="small">4. Kelembapan Tanah</ion-button>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label position="stacked" class="ctm-font">Kelembapan Tanah</ion-label>
                    <ion-input class="ctm-font" placeholder="Kelembapan Tanah"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button size="small" expand="full" shape="round" color="success">Keragaan Kondisi Lahan</ion-button>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Elevasi</ion-label>
                    <ion-input class="ctm-font" placeholder="Elevasi"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Topografi</ion-label>
                    <ion-input class="ctm-font" placeholder="Topografi"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Kemiringan Lereng</ion-label>
                    <ion-input class="ctm-font" placeholder="Kemiringan Lereng"></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Teras</ion-label>
                    <ion-input class="ctm-font" placeholder="Teras"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-item>
                    <ion-label class="ctm-font" position="stacked">Saluran Irigasi</ion-label>
                    <ion-input class="ctm-font" placeholder="Saluran Irigasi"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button size="small" expand="full" shape="round" color="success">Keragaan Tanaman</ion-button>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2"> Pertumbuhan</ion-label>
                <ion-item>
                    <ion-select class="ctm-font-2" placeholder="Pertumbuhan">
                        <ion-select-option value="apples">Jagur</ion-select-option>
                        <ion-select-option value="oranges">Kerdil</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2"> Indeks Luas Daun </ion-label>
                <ion-item>
                    <ion-textarea class="ctm-font-2" placeholder="Type something here"></ion-textarea>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button class="ctm-button-subtitle" color="warning" size="small">Defisiensi Hara Tanaman Baru </ion-button>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2">N: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-label class="ctm-font-2">P: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">K: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2">Ca: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">Mg: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>

                <ion-label class="ctm-font-2">C: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2">Fe: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">Mn: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-label class="ctm-font-2">Zn : </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2">Cu: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">Ph: </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">Ker. Tanaman </ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2">B. Konservasi</ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Tapak Kuda</ion-select-option>
                        <ion-select-option value="2">Teras</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tapak Timbun</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">Peng. Gulma</ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Bagus</ion-select-option>
                        <ion-select-option value="2">Rusak</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-label class="ctm-font-2">Topografi</ion-label>
                <ion-item class="ctm-font-2">
                    <ion-select>
                        <ion-select-option value="1">Bagus</ion-select-option>
                        <ion-select-option value="2">Rusak</ion-select-option>
                    </ion-select>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-button size="small" expand="full" shape="round" color="success">Faktor Alam & Anomali</ion-button>
    <ion-button class="ctm-button-subtitle" color="warning" size="small">Serangan Hama</ion-button>

    <ion-grid>
        <ion-row class="ion-align-items-start">
            <ion-col>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Kumbang Tanduk</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Ulat Kantong</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Tikus</ion-label>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Kupu-kupu</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Ulat Api</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Kumbang Tanduk</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button class="ctm-button-subtitle" color="warning" size="small">Serangan Penyakit</ion-button>
    <ion-grid>
        <ion-row class="ion-align-items-start">
            <ion-col>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Grs Kuning</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>B.Pkl Batang</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Busuk Kuncup</ion-label>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Grs Kuning</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>B.Pkl batang</ion-label>
                </ion-item>
                <ion-item class="ctm-font-2">
                    <ion-checkbox slot="start"></ion-checkbox>
                    <ion-label>Busuk Kuncup</ion-label>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button class="ctm-button-subtitle center" color="warning" size="small">Cuaca & Iklim</ion-button>

    <ion-grid>
        <ion-row class="ion-align-items-start">
            <ion-col>
                <ion-label class="ctm-font-2">Curah Hujan</ion-label>
                <ion-item>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2">Hari Hujan</ion-label>
                <ion-item>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>

            <ion-col>
                <ion-label class="ctm-font-2">Hari Hujan</ion-label>
                <ion-item>
                    <ion-input></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-button size="small" expand="full" shape="round" color="success">Management Kebun</ion-button>
    <ion-grid>
        <ion-row class="ion-align-items-start">
            <ion-col>
                <ion-label class="ctm-font-2"> Pengendalian Gulma </ion-label>
                <ion-select class="ctm-font-2" placeholder="Pilih Jenis Tanah">
                    <ion-select-option value="apples">Apples</ion-select-option>
                    <ion-select-option value="oranges">Oranges</ion-select-option>
                    <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col>
                <ion-label class="ctm-font-2"> Jenis Gulma </ion-label>
                <ion-textarea class="ctm-font-2" placeholder="Type something here"></ion-textarea>

                <br />
                <ion-label class="ctm-font-2"> Kualitas Perawatan </ion-label>
                <ion-textarea class="ctm-font-2" placeholder="Type something here"></ion-textarea>

            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2"> Pengelolaan Tanah & Air </ion-label>
                <ion-select class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                    <ion-select-option value="1">Berat</ion-select-option>
                    <ion-select-option value="2">Sedang</ion-select-option>
                    <ion-select-option value="3">Ringan</ion-select-option>
                    <ion-select-option value="4">Tidak Ada</ion-select-option>
                </ion-select>
            </ion-col>

            <ion-col>
                <ion-label class="ctm-font-2"> Kualitas Tunasan </ion-label>
                <ion-select class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                    <ion-select-option value="1">Berat</ion-select-option>
                    <ion-select-option value="2">Sedang</ion-select-option>
                    <ion-select-option value="3">Ringan</ion-select-option>
                    <ion-select-option value="4">Tidak Ada</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2"> Kualitas Jalan </ion-label>
                <ion-select class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                    <ion-select-option value="1">Berat</ion-select-option>
                    <ion-select-option value="2">Sedang</ion-select-option>
                    <ion-select-option value="3">Ringan</ion-select-option>
                    <ion-select-option value="4">Tidak Ada</ion-select-option>
                </ion-select>
            </ion-col>

            <ion-col>
                <ion-label class="ctm-font-2"> Kualitas Panen </ion-label>
                <ion-select class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                    <ion-select-option value="1">Berat</ion-select-option>
                    <ion-select-option value="2">Sedang</ion-select-option>
                    <ion-select-option value="3">Ringan</ion-select-option>
                    <ion-select-option value="4">Tidak Ada</ion-select-option>
                </ion-select>
            </ion-col>
        </ion-row>
        <ion-row>
            <ion-col>
                <ion-label class="ctm-font-2"> Cadangan Buah </ion-label>
                <ion-select class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                    <ion-select-option value="1">Berat</ion-select-option>
                    <ion-select-option value="2">Sedang</ion-select-option>
                    <ion-select-option value="3">Ringan</ion-select-option>
                    <ion-select-option value="4">Tidak Ada</ion-select-option>
                </ion-select>
            </ion-col>
            <ion-col>
            </ion-col>
        </ion-row>
    </ion-grid>
    <ion-grid>
        <ion-row>
            <ion-col>
                <ion-button expand="full" color="primary" shape="round">Simpan</ion-button>
            </ion-col>
            <ion-col>
                <ion-button expand="full" color="medium" shape="round">Kembali</ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>

</ion-content>