<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Management Kebun</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

    <form (ngSubmit)="saveData()" [formGroup]="myForm" class="ion-margin">

        <div *ngIf="isLoading" class="ion-text-center alignSpinner">
            <ion-spinner color="primary"></ion-spinner>
        </div>
        <p class="text-center">{{formTitle}}</p>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <div class="input-group">
                            <ion-item>
                                <ion-select formControlName="company" placeholder="Pilih Perusahaan" (ionChange)="handleCompany($event)">
                                    <ion-select-option *ngFor="let company of allCompany" value="{{company?.id}}">{{company?.nama_perusahaan}}</ion-select-option>
                                </ion-select>
                            </ion-item>
                        </div>
                    </ion-list>
                </ion-col>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-select formControlName="kebun" placeholder="Pilih Kebun" (ionChange)="handleKebun($event)">
                                <ion-select-option *ngFor="let kebun of allKebun" value="{{kebun?.id}}">{{kebun?.nama_kebun}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-select placeholder="Pilih Afdelling" formControlName="afdelling">
                                <ion-select-option *ngFor="let afdelling of allAfdelling" value="{{afdelling?.id}}">{{afdelling?.nama}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2">Nomor Blok</ion-label>
                    <ion-item>
                        <ion-input type="text" formControlName="nomor_blok"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-label class="ctm-font-2">Nomor KCD</ion-label>
                    <ion-item>
                        <ion-input type="text" formControlName="nomor_kcd"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-label>Tanggal</ion-label>
                    <ion-item>
                        <ion-input [readonly]="true" formControlName="tanggal" id="date" class="ion-text-end">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button size="small" expand="full" shape="round" color="success">Management Kebun</ion-button>
        <ion-grid>
            <ion-row class="ion-align-items-start">
                <ion-col>
                    <ion-label class="ctm-font-2"> Pengendalian Gulma </ion-label>
                    <ion-select class="ctm-font-2" formControlName="pengendalian" placeholder="Pilih Gulma">
                        <ion-select-option *ngFor="let pengendalian of allPengendalianGulma">{{pengendalian?.name}}</ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col>
                    <ion-label class="ctm-font-2"> Jenis Gulma </ion-label>
                    <ion-textarea class="ctm-font-2" formControlName="jenis_gulma" placeholder="Type something here"></ion-textarea>
                    <br />
                    <ion-label class="ctm-font-2"> Kualitas Perawatan </ion-label>
                    <ion-textarea class="ctm-font-2" formControlName="perawatan" placeholder="Type something here"></ion-textarea>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2"> Pengelolaan Tanah & Air </ion-label>
                    <ion-select formControlName="pengelolaan_tanah" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-col>

                <ion-col>
                    <ion-label class="ctm-font-2"> Kualitas Tunasan </ion-label>
                    <ion-select formControlName="kualitas_tunasan" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2"> Kualitas Jalan </ion-label>
                    <ion-select formControlName="kualitas_jalan" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-col>

                <ion-col>
                    <ion-label class="ctm-font-2"> Kualitas Panen </ion-label>
                    <ion-select formControlName="kualitas_panen" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2"> Cadangan Buah </ion-label>
                    <ion-select formControlName="cadangan_buah" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-col>
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" expand="full" color="primary" shape="round" expand="block">Simpan</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="full" color="medium" shape="round">Kembali</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </form>
</ion-content>