<ion-header>
    <ion-toolbar>
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>{{formTitle}}</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
    <form (ngSubmit)="saveData()" [formGroup]="myForm" class="ion-margin">

        <div *ngIf="isLoading" class="ion-text-center alignSpinner">
            <ion-spinner color="primary"></ion-spinner>
        </div>
        <p class="text-center">{{formTitle}}</p>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-list>
                        <div class="input-group">
                            <ion-item>
                                <ionic-selectable item-content placeholder="Pilih Perusahaan" formControlName="company" itemValueField="id" itemTextField="name" [items]="allCompany" (onSelect)="handleCompany($event)" [canSearch]="true" (onSearch)="searchPorts($event)">
                                    <ng-template ionicSelectableItemTemplate let-port="item" let-isPortSelected="isItemSelected">
                                        {{port.name}} - {{port.id}}
                                    </ng-template>
                                </ionic-selectable>
                            </ion-item>
                        </div>
                    </ion-list>
                </ion-col>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-select formControlName="kebun" placeholder="Pilih Kebun" (ionChange)="handleKebun($event)">
                                <ion-select-option *ngFor="let kebun of allKebun" value="{{kebun?.id}}">{{kebun?.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
                <ion-col>
                    <ion-list>
                        <ion-item>
                            <ion-select placeholder="Pilih Afdelling" formControlName="afdelling">
                                <ion-select-option *ngFor="let afdelling of allAfdelling" value="{{afdelling?.id}}">{{afdelling?.name}}</ion-select-option>
                            </ion-select>
                        </ion-item>
                    </ion-list>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2">Nomor Blok</ion-label>
                    <ion-item>
                        <ion-input type="text" formControlName="nomor_blok"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-label class="ctm-font-2">Nomor KCD</ion-label>
                    <ion-item>
                        <ion-input type="text" formControlName="nomor_kcd"></ion-input>
                    </ion-item>
                </ion-col>
                <ion-col>
                    <ion-label>Tanggal</ion-label>
                    <ion-item>
                        <ion-input [readonly]="true" formControlName="tanggal" id="date" class="ion-text-end">
                        </ion-input>
                    </ion-item>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-button size="small" expand="full" shape="round" color="success">Management Kebun</ion-button>
        <ion-grid>
            <ion-row class="ion-align-items-start">
                <ion-col>
                    <ion-label class="ctm-font-2"> Pengendalian Gulma </ion-label>
                    <button ion-button icon-only clear item-right (click)="handleCamera($event,'pengendalian_gulma')">
                        <ion-icon name='camera-outline' icon-start></ion-icon>
                    </button>
                    <ion-textarea class="ctm-font-2" formControlName="jenis_gulma" placeholder="Type something here"></ion-textarea>
                    
                    <!-- <ion-select class="ctm-font-2" formControlName="pengendalian" placeholder="Pilih Gulma">
                        <ion-select-option *ngFor="let pengendalian of allPengendalianGulma">{{pengendalian?.name}}</ion-select-option>
                    </ion-select> -->

                    <ion-grid>
                        <ion-col size="10"  *ngFor="let photo of pengendalian_gulma">
                            <ng-container [ngSwitch]="photo.nama">
                                <img  *ngSwitchCase="'pengendalian_gulma'" [src]="this.global.getSantizeUrl(photo.webviewPath)" onError="this.src='assets/logo-PPKS.png'"  alt="" >
                                <ng-container *ngSwitchCase="'pengendalian_gulma'" [ngTemplateOutlet]="input_pengendalian_gulma"></ng-container>
                            </ng-container>
                        </ion-col>
                    </ion-grid> 
                    <ng-template #input_pengendalian_gulma>
                        <ion-input type="text" formControlName="pengendalian_gulma_keterangan"></ion-input>
                    </ng-template>
                </ion-col>
                <ion-col>
                    <br />
                    <ion-label class="ctm-font-2"> Kualitas Perawatan </ion-label>
                    <ion-textarea class="ctm-font-2" formControlName="perawatan" placeholder="Type something here"></ion-textarea>
                </ion-col>
            </ion-row>
        </ion-grid>
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2"> Pengelolaan Tanah & Air </ion-label>
                    <button ion-button icon-only clear item-right (click)="handleCamera($event,'pengelolaan_tanah_air')">
                        <ion-icon name='camera-outline' icon-start></ion-icon>
                    </button>
                    <ion-select formControlName="pengelolaan_tanah" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="tapak_timbun">Tapak Timbun</ion-select-option>
                        <ion-select-option value="terasan">Terasan</ion-select-option>
                        <ion-select-option value="tapak_kuda">Tapak Kuda</ion-select-option>
                        <ion-select-option value="tidak_ada">Tidak Ada</ion-select-option>
                    </ion-select>

                    <ion-grid>
                        <ion-col size="10"  *ngFor="let photo of pengelolaan_tanah_air">
                            <ng-container [ngSwitch]="photo.nama">
                                <img  *ngSwitchCase="'pengelolaan_tanah_air'" [src]="this.global.getSantizeUrl(photo.webviewPath)" onError="this.src='assets/logo-PPKS.png'"  alt="" >
                                <ng-container *ngSwitchCase="'pengelolaan_tanah_air'" [ngTemplateOutlet]="input_pengelolaan_tanah_air"></ng-container>
                            </ng-container>
                        </ion-col>
                    </ion-grid> 
    
                    <ng-template #input_pengelolaan_tanah_air>
                        <ion-input type="text" formControlName="pengelolaan_tanah_air_keterangan"></ion-input>
                    </ng-template>
                </ion-col>

                <ion-col>
                    <ion-label class="ctm-font-2"> Kualitas Tunasan </ion-label>
                    <button ion-button icon-only clear item-right (click)="handleCamera($event,'kualitas_tunasan')">
                        <ion-icon name='camera-outline' icon-start></ion-icon>
                    </button>
                    <ion-select formControlName="kualitas_tunasan" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="gondrong">Gondrong</ion-select-option>
                        <ion-select-option value="normal">Normal</ion-select-option>
                        <ion-select-option value="gundul">Gundul</ion-select-option>
                    </ion-select>

                    <ion-grid>
                        <ion-col size="10"  *ngFor="let photo of kualitas_tunasan">
                            <ng-container [ngSwitch]="photo.nama">
                                <img  *ngSwitchCase="'kualitas_tunasan'" [src]="this.global.getSantizeUrl(photo.webviewPath)" onError="this.src='assets/logo-PPKS.png'"  alt="" >
                                <ng-container *ngSwitchCase="'kualitas_tunasan'" [ngTemplateOutlet]="input_kualitas_tunasan"></ng-container>
                            </ng-container>
                        </ion-col>
                    </ion-grid> 
                    <ng-template #input_kualitas_tunasan>
                        <ion-input type="text" formControlName="kualitas_tunasan_keterangan"></ion-input>
                    </ng-template>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2"> Kualitas Jalan </ion-label>
                    <ion-select formControlName="kualitas_jalan" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-col>

                <ion-col>
                    <ion-label class="ctm-font-2"> Kualitas Panen </ion-label>
                    <ion-select formControlName="kualitas_panen" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col>
                    <ion-label class="ctm-font-2"> Cadangan Buah </ion-label>
                    <button ion-button icon-only clear item-right (click)="handleCamera($event,'cadangan_buah')">
                        <ion-icon name='camera-outline' icon-start></ion-icon>
                    </button>
                    <ion-select formControlName="cadangan_buah" class="ctm-font-2" placeholder="Pilih Kualitas" class="ctm-font-2">
                        <ion-select-option value="1">Berat</ion-select-option>
                        <ion-select-option value="2">Sedang</ion-select-option>
                        <ion-select-option value="3">Ringan</ion-select-option>
                        <ion-select-option value="4">Tidak Ada</ion-select-option>
                    </ion-select>

                    <ion-grid>
                        <ion-col size="10"  *ngFor="let photo of cadangan_buah">
                            <ng-container [ngSwitch]="photo.nama">
                                <img  *ngSwitchCase="'cadangan_buah'" [src]="this.global.getSantizeUrl(photo.webviewPath)" onError="this.src='assets/logo-PPKS.png'"  alt="" >
                                <ng-container *ngSwitchCase="'cadangan_buah'" [ngTemplateOutlet]="input_cadangan_buah"></ng-container>
                            </ng-container>
                        </ion-col>
                    </ion-grid> 

                    <ng-template #input_cadangan_buah>
                        <ion-input type="text" formControlName="cadangan_buah_keterangan"></ion-input>
                    </ng-template>
                </ion-col>
                  
                <ion-col>
                </ion-col>
            </ion-row>
        </ion-grid>

        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-button type="submit" expand="full" color="primary" shape="round" expand="block">Simpan</ion-button>
                </ion-col>
                <ion-col>
                    <ion-button expand="full" color="medium" shape="round">Kembali</ion-button>
                </ion-col>
            </ion-row>
            <ion-button expand="full" (click)="lihatData()" color="primary" shape="round" expand="block">Kirim {{allManagementKebun.length}} Data Tersimpan</ion-button>
        </ion-grid>
    </form>
</ion-content>